* {
    margin: 0;
    padding: 0;
    font-family: "Roboto";
  } 
 
 body{
    background: url("../images/backcover.svg") no-repeat right;
    height:60vh;
    
}

nav{
    display:flex;
    justify-content: space-between;
    height: 17vh;
    align-items: center;
}

nav img{
    width:120px;
    margin-left:100px;
}

nav .nav-items{
    display:flex;
    flex:2;
    list-style-type:none;
    justify-content:space-evenly;
    align-items: center;
}

.signin-btn {
    background-image: linear-gradient(
      to right,
      #9733ee 0%,
      #da22ff 25%,
      #da22ff 51%
    );
    margin: 20px;
    padding: 10px 15px;
    text-align: center;
    text-transform: uppercase;
    background-size: 200% auto;
    color: white;
    border: none;
    box-shadow: 0 0 20px #eee;
    border-radius: 25px;
    display: block;
  }


.intro-section{
    display:flex;
}

.left-section{
    width:50%;
    max-width: 400px;
    margin-top: 100px;
    margin-left:100px;
}

.left-section h1{
    color: rgb(24, 38, 107);
    font-size: 4.5em;
    margin-top:150px;
}

.left-section h4{
    color: #6c6c6c;
    font-weight: normal;
    max-width: 300px;
    margin-bottom: 50px;
    margin-top:50px;
    line-height: 25px;
}

.left-section .learn-more-btn {
    border: none;
    background: linear-gradient(to right, #965cf2, #ff8adc);
    padding: 10px 20px;
    font-weight: bold;
    font-size: 18px;
    color: #FFFFFF;
    border-radius: 50px;
    cursor: pointer;
}

/* Responsive ness*/
@media only screen and (max-width: 1065px) {
    nav {
        overflow-x: auto;
        padding-left: 20px;
        height: 14vh;
    }
    nav .signin-btn {
        padding: 10px 0px;
        min-width: 100px;
        margin-left: 40px;
        margin-right: 20px;
    }
    .nav-items {
        margin-left: 40px;
    }
    .intro-section .imgs-div img:nth-child(3) {
        display: block;
        position: absolute;
        left: -360px;
        top: 120px;
        width: 400px;
        opacity: .2;
        z-index: -1;
    }
    .intro-section .imgs-div img:nth-child(2) {
        display: none;
    }
    .intro-section .imgs-div img:nth-child(1) {
        display: none;
    }
    .left-section h1 {
        font-size: 3rem;
        margin-bottom: 20px;
    }
    .intro-section {
        justify-content: center;
    }
    .intro-section .learn-more-btn {
        padding: 10px 20px;
        font-size: 15px;
    }
    .intro-section h4 {
        margin-bottom: 30px;
        line-height: 25px;
        color: #272727;
    }
}